main .main-lecture-top {
	width: 100%;
	background-image: url(../bilder/förläsare.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 5em 2em 15em;

	@media (max-width: 670px) {
		padding: 4em;
		font-size: 0.5em;
	}
}

main .main-lecture-top .main-top-text {
	max-width: 600px;
	padding: 2em 1em;
	font-size: 1.8em;
}

main .main-lecture {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 10px;
	margin-top: 5em;
	padding-bottom: 2em;
	border-bottom: 1px solid gray;
	place-items: center;

}

main .main-lecture-body {
	margin: 10px;
	background-color: rgb(232, 241, 242);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	width: 22em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .eric-thyrell-image,
.eric-donell-image,
.robert-karjel-image,
.ami-hemviken-image,
.annarie-palm-image,
.colin-moon-image,
.ebba-lourin-image,
.emma-pihl-image,
.tommy-lundberg-image,
.gunnar-ekman-image {
	background-image: url(/bilder/eric\ thyrell.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 22em;
	height: 20em;
}

main .main-lecture .eric-donell-image {
	background-image: url("/bilder/Eric Donell.jpg");
}

main .main-lecture .robert-karjel-image {
	background-image: url(/bilder/robert\ karjel.jpg);
}

main .main-lecture .ami-hemviken-image {
	background-image: url(/bilder/Ami\ Hemviken.png);
}

main .main-lecture .annarie-palm-image {
	background-image: url(/bilder/Annmarie\ Palm.jpg);
}

main .main-lecture .colin-moon-image {
	background-image: url("/bilder/colin moon.jpg");
}

main .main-lecture .ebba-lourin-image {
	background-image: url(/bilder/Ebba\ Laurin.jpg);
}

main .main-lecture .emma-pihl-image {
	background-image: url(/bilder/emma\ pihl.jpg);
}

main .main-lecture .tommy-lundberg-image {
	background-image: url(/bilder/tommy\ lundberg.jpg);
}

main .main-lecture .gunnar-ekman-image {
	background-image: url(/bilder/Gunnar\ Ekman.jpg);
}

main .main-lecture-info,
.main-lecture-body h2 {
	padding: 0.5em;
}

main .main-lecture-checkmark {
	padding-top: 1em;
	text-align: right;
}
main .main-lecture-checkmark:hover {
	cursor: pointer;
	color: rgb(108, 128, 241);
	font-weight: bold;
}

#main-register-top {
	background-image: url(/bilder/mainförläsare.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 5em;

	@media (max-width: 670px) {
		padding: 1em;
	}
}

main .main-register {
	position: sticky;
	top: 0px;
	left: 10em;
	color: rgb(239, 245, 238);
	border-radius: 8px;
	max-width: 510px;
	padding: 1em;
	background: rgba(45, 50, 50, 0.9);

}

main form .main-top-checkmark {
	padding: 0.6em;
	display: inline-flex;

	@media (max-width:450px) {
		display: flex;
		align-items: center;
	}

}


.main-register form {
	border: 2px solid rgb(239, 245, 238);
	margin: 1em ;
	padding:1em;
}

.form-section {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
}

.form-section.row {
	flex-direction: row;
}

input:valid {
	border: 2px solid rgb(89, 217, 221);

}

input:invalid {
	border-right: 0.5em solid rgb(111, 33, 33);
}

input:invalid {
	visibility: visible;
}
form .form-button-section{
	align-items: center;
}
form button{
	padding: 0.5em 2em;
	margin: 1em;
	border: 1px solid rgb(240, 229, 229);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(247, 245, 245, 0.5);
	font-weight: bold;
	color: rgb(240, 229, 229);
	background-color: rgb(52, 66, 145);
}
form button:hover {
	cursor: pointer;
	background-color: rgb(206, 216, 229);
	color: rgb(98, 123, 134);
}
